{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react-native"
  ],
  "env": {
    "mocha": true
  },
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "semi": [2, "never"],
    "no-use-before-define": 0,
    "no-param-reassign": [2, { "props": false }],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "import/export": [0],
    "global-require": [0],
    "react/prefer-stateless-function": 1,
    "react/jsx-boolean-value": [2, "always"],
    "new-cap": [
      2,
      {
        "capIsNewExceptions": [
          "Map",
          "Set",
          "Record",
          "List"
        ]
      }
    ],
    "radix": [2, "as-needed"]
  }
}
